/**Tabela**/
.table-view{
    -fx-focus-color:#00bc53;
}

.table-cell {
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 12px "Segoe UI";
    -fx-text-fill: #212121;
    -fx-alignment: CENTER_LEFT;
    -fx-border-insets: 0;
}
.table-view {
    -fx-table-header-border-color: #00bb53;
    -fx-table-cell-border-color: -fx-box-border;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}
/*Muda a cor do foco*/
.table-view:focused {
    -fx-background-color: -fx-box-border,-fx-box-border, white;
}
/*Muda a cor da linha*/
.table-row-cell {
    -fx-background-color: #e9e9e9;
}
/*Muda a cor da segunda linha*/
.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {
    -fx-background-color: #00bc53;
    -fx-text-fill: white;
    -fx-background-insets: 0,1 1 1 1 0;
}


.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #5aff9c;
    -fx-text-fill: white;
}
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #33bb69;
    -fx-text-fill: white;
}

.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .column-header .label{
    -fx-padding: 10,0,0,0;
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: #da4453;
    -fx-border-color: -fx-box-border;
    -fx-text-fill: white;
    -fx-border-insets: -1 0 0 -1;
    -fx-padding: 0 0 0 0;
}
.table-view .arrow {
    -fx-padding: 0.2em;
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

/*.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 1em;
}
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);

    -fx-background-radius: 1em;
    -fx-border-radius:1em;
}

!* The main scrollbar **thumb** CSS class which we drag every time (movable) *!
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#da4453,20%);
    -fx-background-insets: 1, 0, 0;
    -fx-background-radius: 1em;

}*/

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

/* The increment and decrement button CSS class of scrollbar */
.table-view .scroll-bar:horizontal .increment-button ,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */

.table-view .scroll-bar:vertical .increment-button ,
.table-view .scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}

.table-view  .scroll-bar .increment-arrow,
.table-view  .scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#da4453,35%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

/**AUTO COMPLETE*/
.auto-complete-text-field>.text-field{
    -fx-background-color:
            #FFFFFF,
            #FFFFFF;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0, 0;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #da4453;
}

.auto-complete-text-field>.text-fieldd:selected {
    -fx-background-color:
            #da4453,
            #FFFFFF;
}

.auto-complete-text-field>.text-field:hover {
    -fx-background-color:
            #da4453,
            #FFFFFF;
}

/**CAMPO DE PESQUISA**/
.custom-text-field {
    -fx-background-color:
            #FFFFFF,
            #FFFFFF;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0, 0;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #da4453;

}

.custom-text-field:selected {
    -fx-background-color:
            #da4453,
            #FFFFFF;
}

.custom-text-field:hover {
    -fx-background-color:
            #da4453,
            #FFFFFF;
}

.btn-add{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-background-color: #da4453;
    -fx-border-radius: 0px;
}

.btn-add:hover{
    -fx-background-color: #eb6378;
}
.alert-label{
    -fx-text-fill: #ff001d;
    -fx-font-size: 15px;
}

