/*base*/
.base-error{
    -fx-border-color: #e70520;;
}
.base-warning{
    -fx-border-color: #f7971e;;
}
.base-success{
    -fx-border-color: #0e985b;;
}
.base-info{
    -fx-border-color: #5b86e5;;
}
/*dialog*/
.dialog-error{
    -fx-background-color: #e70520;
}
.dialog-warning{
    -fx-background-color: #f7971e;
}
.dialog-success{
    -fx-background-color: #0e985b;
}
.dialog-info{
    -fx-background-color:  #5b86e5;
}

/*Botões*/
.btn-error{
    -fx-background-color: #e70520;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-text-fill: white;
}
.btn-error:hover{
    -fx-background-color: derive(#e70520, 80%)
}
.btn-warning{
    -fx-background-color: #f7971e;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-text-fill: white;
}
.btn-warning:hover{
    -fx-background-color: derive(#f7971e, 20%);
}

.btn-success{
    -fx-background-color: #0e985b;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-text-fill: white;
}
.btn-success:hover{
    -fx-background-color: #0fc178;
}
.btn-info{
    -fx-background-color: #5b86e5;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-text-fill: white;;
}
.btn-info:hover{
    -fx-background-color: derive(#5b86e5, 10%);
}