
.root{
    -fx-border-color: linear-gradient(#C33764, #1D2671);
}
.text{
    -fx-fill: white;
}
.text-field {
    -fx-background-color:
            #FFFFFF,
            #FFFFFF;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0, 0;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #da4453;

}

.text-field:selected {
    -fx-background-color:
            #da4453,
            #FFFFFF;
}

.text-field:hover {
    -fx-background-color:
            #da4453,
            #FFFFFF;
}
.text-title{
    -fx-fill:  linear-gradient(#C33764, #1D2671);
    -fx-font-size: 25;
}
.slide-menu {
    -fx-background-color: linear-gradient(#C33764, #1D2671);
}

.btn:hover{
    -fx-background-color: RGBA(255,255,255,0.1);
}

.btn-minimize{
    -fx-background-color: transparent;
    -fx-graphic: url("/resources/img/minus.png");
}
.btn-minimize:hover{
    -fx-background-color: transparent;
    -fx-graphic: url("/resources/img/minus-hover.png");
}

.btn-maximize{
    -fx-background-color: transparent;
    -fx-graphic: url("/resources/img/expand.png");
}
.btn-maximize:hover{
    -fx-background-color: transparent;
    -fx-graphic: url("/resources/img/expand-hover.png");
}
.btn-close{
    -fx-background-color: transparent;
    -fx-graphic: url("/resources/img/close.png");
}
.btn-close:hover{
    -fx-background-color: transparent;
    -fx-graphic: url("/resources/img/close-hover.png");
}

.veil{
    -fx-background-color: white;
    -fx-opacity: 0.4;
}