.root-panel{
    -fx-background-color: #efeaf2;
}
.right-panel{
    -fx-background-color: linear-gradient(#C33764, #1D2671);
}
#txt-login{
    -fx-fill: #a3a3a3;
    -fx-font-size: 20pt;
}
#txt-how-to{
    -fx-fill: white;
    -fx-font-size: 20pt;
}
#txt-info{
    -fx-fill: white;
}

.custom-text-field {
    -fx-background-color:
            #FFFFFF,
            #FFFFFF;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0, 0;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #da4453;

}

.custom-text-field:selected {
    -fx-background-color:
            #da4453,
            #FFFFFF;
}

.custom-text-field:hover {
    -fx-background-color:
            #da4453,
            #FFFFFF;
}

.btn-login{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
    -fx-background-color: #da4453;
    -fx-border-radius: 0px;

}

.btn-login:hover{
    -fx-background-color: #eb6378;
}
.alert-label{
    -fx-text-fill: #ff001d;
    -fx-font-size: 15px;
}

